.row{
    padding-bottom: 40px;
    padding-left: 50px;
}
.sample{
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 20px;
    
    background-color: lightseagreen;
    color: white;
    padding-left: 63px;
    padding-right: 65px;
  }
  body{
      background-color: rgb(245, 227, 212);
  }

  @media screen and (max-width:640px){
      body{
          height: fit-content;
      }
      .card{
          margin-bottom: 40px;
      }
     /* .sample {
        width: 100%;
      } */
      .row{
          width: max-content;
          padding-left: 20px;
      }
      .footer{
          position: static;
      }
    
  }
  